@font-face {
  font-family: "sf-pro";
  src: url("fonts/sf-pro.otf");
}

* {
  margin: 0;
  padding: 0;
  font-family: sf-pro;
}

#art {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 15px;
}

#playButton {
  width: 50px;
  border: solid;
  border: none;
  background-color: rgb(115, 7, 148);
  border-radius: 15px;
  padding: 1px;
}

#playButton:hover {
  cursor: pointer;
}

#details {
  width: 100%;
  color: antiquewhite;
  margin-bottom: 15px;
  font-size: large;
  padding-bottom: 4px;
  padding-top: 4px;
}

.elements {
  background-color: rgb(63, 4, 80);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.backdrop {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("media/stars.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  width: 400px;
  padding: 25px 35px;
  background-color: rgb(115, 7, 148);
  text-align: center;
  border-radius: 10px;
}

#progressBar {
  -webkit-appearance: none;
  width: 300px;
  height: 8px;
  background-color: rgb(100, 7, 125);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: 15px 0;
}

#progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: antiquewhite;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.navBar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: black;
  border-top: solid 1px white;
}

.nowPlaying {
  color: white;
  font-size: large;
  margin-top: 12px;
  justify-content: left;
  text-align: left;
  padding-left: 20px;
}

#artist {
  color: rgb(100, 100, 100);
}
