@font-face {
  font-family: "sf-pro";
  src: url("fonts/sf-pro.otf");
}

* {
  margin: 0;
  padding: 0;
  font-family: sf-pro;
}

.backdrop {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  background-image: url("media/stars.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  width: 50%;
  height: 80%;
  margin-top: 20px;
  padding: 25px 35px;
  background-color: rgba(31, 2, 40, 0.8);
  text-align: center;
  border-radius: 10px;
}

.navBar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: black;
  border-top: solid 1px white;
}

.nowPlaying {
  color: white;
  font-size: large;
  margin-top: 12px;
  justify-content: left;
  text-align: left;
  padding-left: 20px;
}

#artist {
  color: rgb(100, 100, 100);
}

#gridTitle,
#gridArtist {
  text-align: left;
  padding-left: 10px;
}

#gridTitle {
  color: antiquewhite;
}

#gridArtist {
  color: rgb(100, 100, 100);
}

.song1 {
  height: 50px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgba(31, 2, 40, 1);
}

.song1:hover {
  cursor: pointer;
}

.song2 {
  height: 50px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgba(31, 2, 40, 1);
}

.song2:hover {
  cursor: pointer;
}

.song3 {
  height: 50px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgba(31, 2, 40, 1);
}

.song3:hover {
  cursor: pointer;
}
.song4 {
  height: 50px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgba(31, 2, 40, 1);
}
.song4:hover {
  cursor: pointer;
}
